name: Python Pixi

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-24.04, macos-15-intel]

    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          manifest-path: ./py/pyproject.toml
          frozen: true

      - name: Run tests
        run: cd py && pixi run test
